{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Password change done{% endblock %}
{% block page_title %}Password change done{% endblock %}

{% block headersPart %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
{% endblock headersPart %}



{% block content %}


<div class="mainCont">
    <div class="login-screen">
        <div class="login-container">
            <div class="login-card">
            <!-- Left Side (Image) -->
                <div class="card-image-side">
                    <img src="{% static 'images/b1.jpg' %}" alt="Decorative background" />
                </div>

                <!-- Right Side (Message) -->
                <div class="card-form-side">
                    <div class="form-content">
                        <div class="brand-header">
                            <h1>Password Changed Successfully</h1>
                            <p>Your password has been updated.</p>
                        </div>

                        <div style="margin-top: 20px;">
                            <a href="{% url 'dashboard' %}" class="btn-login">
                            Go to Dashboard <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}

{% endblock extra_js %}