{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Submit Incident</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static "css/submitIncForm.css" %}">
</head>
<body>
  <div class="form-wrapper">
    <h2>Submit an Incident (Anonymous)</h2>

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="error">{{ field.errors|striptags }}</div>
        {% endif %}
      {% endfor %}

      <button type="submit">Submit Incident</button>
    </form>
  </div>
</body>
</html>
