{% extends 'dashboard/base.html' %}

{% block title %}Masterdata - Dashboard{% endblock %}
{% block page_title %}Master Data{% endblock %}

{% block content %}

<div class="stats-grid">
    
    <div class="stat-card">
        <div class="stat-header">
            <div class="stat-icon">🏦</div>
        </div>
        <div class="stat-value"><a href="{% url 'manage_divisions' %}">Divisions</a></div>
        <div class="stat-change positive">Manage division deatils under department</div>
    </div>
    <div class="stat-card">
        <div class="stat-header">
            <div class="stat-icon">🏛️</div>
        </div>
        <div class="stat-value"><a href="{% url 'manage_departments' %}">Departments</a></div>
        <div class="stat-change positive">Manage department deatils</div>
    </div>
</div>
</div>

<div class="stats-grid">

    <div class="stat-card">
        <div class="stat-header">
            <div class="stat-icon">⚠️</div>
        </div>
        <div class="stat-value"><a href="{% url 'manage_severity' %}">Incident Severity</a></div>
        <div class="stat-change positive">Manage severity levels for incidents</div>
    </div>
    <div class="stat-card">
        <div class="stat-header">
            <div class="stat-icon">✔️</div>
        </div>
        <div class="stat-value"><a href="{% url 'manage_status' %}">Incident Status</a></div>
        <div class="stat-change positive">Manage status for incidents</div>
    </div>
</div>
{% endblock %}